.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  
  .card {
    flex: 0 1 30%; 
    margin: 0.5rem;
    text-align: center;
  }
  
  .ItemImg {
    width: 100%; 
    height: auto;
    border-color: black;
  }
  
  .card-title {
    font-size: 16px;
  }
  
  .Option {
    border-color: black;
  }
  